apiVersion: v1
kind: ConfigMap
metadata:
  name: parambulator-cloudflared-config
  namespace: parambulator
data:
  config.yml: |
    tunnel: 4cdefe39-9519-41ac-8d7b-d21d975c3df0
    credentials-file: /etc/cloudflared/credentials.json
    ingress:
      - hostname: parambulator.shsw.dev
        service: http://parambulator.parambulator.svc.cluster.local:5000
      - service: http_status:404
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: parambulator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:latest
          args:
            - tunnel
            - --config
            - /etc/cloudflared/config.yml
            - run
          volumeMounts:
            - name: config
              mountPath: /etc/cloudflared/config.yml
              subPath: config.yml
              readOnly: true
            - name: credentials
              mountPath: /etc/cloudflared/credentials.json
              subPath: credentials.json
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: parambulator-cloudflared-config
        - name: credentials
          secret:
            secretName: parambulator-cloudflared-credentials
