[MASTER]
init-hook=import sys; sys.path.insert(0, ".")

[MESSAGES CONTROL]
enable=all

[BASIC]
no-docstring-rgx=^(_|test_).*

[FORMAT]
max-line-length=140

[DESIGN]
max-args=8
max-attributes=10
max-public-methods=50
max-module-lines=2000
min-public-methods=1
