body {
    text-align: center;
}

table, tr, td, div {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

td:nth-child(2) {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
}

pre {
    text-align: left;
}

img {
    width: 25%;
}

