{% extends "base.html" %}

"648721","876194","846721","427619","465973","321678","976382","346197","276481","000000"
{%block content%}
    <span class="noselect">
    <p class="noselect">Iasmoater:648721</p>
    <p class="noselect">Zepluapra:876194</p>
    <p class="noselect">Yeshillon:846721</p>
    <p class="noselect">Usmyke:846721</p>
    <p class="noselect">K-888:427619</p>
    <p class="noselect">Treasure Planet:465973 </p>
    <p class="noselect">Flobizor-15:321678</p>
    <p class="noselect">The Planet of ETERNAL Torture, Pain, and Suffering. Sponsored by Gemshlon Spacesuits, You're Always Safe With a Gemshlon tm:976382</p>
    <p class="noselect">5:346197</p>
    <p class="noselect">Broop Kidron 15:276481</p>
    <p class="noselect">Earth:000000</p>
    <a href="{% url 'i3:cockpit' %}"><button>Return</button></a>
    </span>
{%endblock%}